<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Forecast</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!--owl slider stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <!-- nice select -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
      integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4="
      crossorigin="anonymous"
    />
    <!-- datepicker -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css"
    />
    <!-- Custom styles for this template -->
    <!-- responsive style -->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/font-awesome.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/responsive.css') }}"
    />

    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
      integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="sub_page">
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="header_bottom">
          <div class="container-fluid">
            <!--Navigation bar-->
            <div id="nav-placeholder"></div>

            <script>
              $(function () {
                $("#nav-placeholder").load("/navi");
              });
            </script>
            <!--end of Navigation bar-->
          </div>
        </div>
      </header>
      <!-- end header section -->
    </div>

    <!-- Forecast section -->
    <section class="pretext">
      <h1>Forecast Prices</h1>
      <p>
        Use the dropdown below to select the product category which you are interested in forecasting. Then click the submit button to run a linear regression on the data
        data provided by the ABS. Note that this linear regression uses both year and quarter as the main factors in its analysis.
      </p>
    </section>
    <section class="graphbox">
      
      <form action="/process" method="POST" style="padding-top: 15px">
        <select
          class="form-select"
          aria-label="Default select example"
          id="operator"
          name="operator"
        >
          <option selected name="data">Choose a product</option>
          <option value="Lamb and goat">Lamb and goat</option>
          <option value="Wine">Wine</option>
          <option value="Food additives and condiments">
            Food additives and condiments
          </option>
          <option value="Other meats">Other meats</option>
          <option value="Garments for men">Garments for men</option>
          <option value="Cheese">Cheese</option>
          <option value="Garments">Garments</option>
          <option value="Bread">Bread</option>
          <option value="Fruit">Fruit</option>
          <option value="Footwear for men">Footwear for men</option>
          <option value="Ice cream and other dairy products">
            Ice cream and other dairy products
          </option>
          <option value="Meals out and take away foods">
            Meals out and take away foods
          </option>
          <option value="Poultry">Poultry</option>
          <option value="Restaurant meals">Restaurant meals</option>
          <option value="Glassware, tableware and household utensils">
            Glassware, tableware and household utensils
          </option>
          <option value="Garments for women">Garments for women</option>
          <option value="Other non-durable household products">
            Other non-durable household products
          </option>
          <option value="Beer">Beer</option>
          <option value="Eggs">Eggs</option>
          <option value="Oils and fats">Oils and fats</option>
          <option value="Waters, soft drinks and juices">
            Waters, soft drinks and juices
          </option>
          <option value="Other food products n.e.c.">
            Other food products n.e.c.
          </option>
          <option value="Food products n.e.c.">Food products n.e.c.</option>
          <option value="Footwear for women">Footwear for women</option>
          <option value="Meat and seafoods">Meat and seafoods</option>
          <option value="Snacks and confectionery">
            Snacks and confectionery
          </option>
          <option value="Beef and veal">Beef and veal</option>
          <option value="Take away and fast foods">
            Take away and fast foods
          </option>
          <option value="Other cereal products">Other cereal products</option>
          <option value="Cakes and biscuits">Cakes and biscuits</option>
          <option value="Coffee, tea and cocoa">Coffee, tea and cocoa</option>
          <option value="Jams, honey and spreads">
            Jams, honey and spreads
          </option>
          <option value="Books">Books</option>
          <option value="Dairy and related products">
            Dairy and related products
          </option>
          <option value="Tobacco">Tobacco</option>
          <option value="Alcohol and tobacco">Alcohol and tobacco</option>
          <option value="Pork">Pork</option>
          <option value="Garments for infants and children">
            Garments for infants and children
          </option>
          <option value="Clothing and footwear">Clothing and footwear</option>
          <option value="Bread and cereal products">
            Bread and cereal products
          </option>
          <option value="Personal care products">Personal care products</option>
          <option value="Breakfast cereals">Breakfast cereals</option>
          <option value="Fish and other seafood">Fish and other seafood</option>
          <option value="Non-alcoholic beverages">
            Non-alcoholic beverages
          </option>
          <option value="Spirits">Spirits</option>
          <option value="Non-durable household products">
            Non-durable household products
          </option>
          <option value="Footwear for infants and children">
            Footwear for infants and children
          </option>
          <option value="Cleaning and maintenance products">
            Cleaning and maintenance products
          </option>
          <option value="Newspapers, books and stationery">
            Newspapers, books and stationery
          </option>
          <option value="Milk">Milk</option>
          <option value="Household appliances, utensils and tools">
            Household appliances, utensils and tools
          </option>
          <option value="Newspapers, magazines and stationery">
            Newspapers, magazines and stationery
          </option>
          <option value="Vegetables">Vegetables</option>
          <option value="Footwear">Footwear</option>
          <option value="Alcoholic beverages">Alcoholic beverages</option>
          <option value="Fruit and vegetables">Fruit and vegetables</option>
          <option value="Furniture">Furniture</option>
        </select>

        <button class="btn btn-primary" type="submit" style="margin-top:15px">Submit</button>
      </form>
      <h2 style="margin-top:20px">Outputted Graph</h2>

      {% if plot_url %}
      <img src="{{plot_url}}" />
      {% endif %}
      <script></script>
    </section>
  </body>
</html>
