<!DOCTYPE html>
<html>

  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Consumer Care</title>

    <style>
        /* Define the styles for the columns */
        .column {
            width: 25%; /* Each column takes up 25% of the container width */
            float: left; /* Float the columns to the left */
            padding: 10px; /* Add some padding for spacing */
        }

        /* Clear the float to ensure proper layout */
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select -->
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
      integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
    <!-- datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
    <!-- Custom styles for this template -->
    <!-- responsive style -->

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/responsive.css') }}">

    <script src = "{{ url_for('static', filename = 'js/bootstrap.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>


  </head>

  <body>

    <div class="hero_area">
      <!--   strats -->
      <header class="header_section">
        <div class="header_bottom">
          <div class="container-fluid">
            <!--Navigation bar-->
            <div id="nav-placeholder">

            </div>

            <script>
              $(function () {
                $("#nav-placeholder").load("/navi");
              });
            </script>
            <!--end of Navigation bar-->
          </div>
        </div>
      </header>
      <!-- end header section -->
      <!-- slider section -->
      <section class="slider_section ">
        <div class="dot_design">
          <img src="/static/images/dots.png" alt="">
        </div>
        <div class="container ">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <div class="play_btn">
                  <button>
                    <i class="fa fa-play" aria-hidden="true"></i>
                  </button>
                </div>
                <h1>
                  Consumer <br>
                  <span>
                    Care
                  </span>
                </h1>
                <p>
                  ConsumerCare is an online tool designed to help Australian consumers make
                  smarter purchasing decisions by helping them understand grocery and household product price trends.
                  <br><br>
                  <i><strong>*Note that this is purely an educational tool and is not intended to influence a consumers
                      purchasing decisions. </strong> </i>
                </p>

              </div>
            </div>
            <div class="col-md-6">
              <div class="img-box">
                <img src="/static/images/slider-img.png" alt="">
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>

    </section>
    <!-- end slider section -->
    </div>



    <!-- treatment section -->

    <section class="treatment_section layout_padding">

      <div class="container">
        <div class="heading_container heading_center">
          <h2>
            Our <span>Services</span>
          </h2>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="/static/images/trend.png" alt="">
              </div>
              <div class="detail-box">
                <h4>
                  Product Category Price Analysis
                </h4>
                <p>
                  Visualize how prices have changed over the decades for various grocery and household categories
                </p>
                <a href="product.html">
                  Product
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="/static/images/region.png" alt="">
              </div>
              <div class="detail-box">
                <h4>
                  Region Price Analysis
                </h4>
                <p>
                  Compare prices of both individual products and product categories across various regions
                </p>
                <a href="dashboard.html">
                  Heatmap
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="/static/images/compare.png" alt="">
              </div>
              <div class="detail-box">
                <h4>
                  Marco Economic Analysis
                </h4>
                <p>
                  Compare how marcoeconomic factors influence the prices of groceries
                </p>
                <a href="seasonal.html">
                  Seasonal Trends
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="/static/images/forecast.png" alt="">
              </div>
              <div class="detail-box">
                <h4>
                  Product Price Forecasting
                </h4>
                <p>
                  Advanced data analytics to predict price movements for various household products
                </p>
                <a href="forecast.html">
                  Forecast
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end treatment section -->


    <!-- about section -->
    <section class="about_section" style="margin-top: 50px;">
      <div class="container">
        <div class="heading_container heading_center" style="padding-bottom:20px">
          <h2>
            About <span>Us</span>
          </h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="img-box">
              <img src="/static/images/about-us.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <p>
                ConsumerCare was founded by a group of University students to help improve the average consumer's
                understanding of grocery price trends in Australia.
                With inflation levels and interest rates close to their all-time highs, it has never been more important
                for Australians to understand how these economic factors
                can affect their daily living costs. Using various data sources, from both the Australian Bureau of
                Statistics (ABS) and Kaggle (independant data) we
                have developed a series of interactive visualisations which allow consumers to understand how products
                have changed in price across time and region.
                We also provide comparisons and analysis of price trends factoring in various economic concepts such as
                inflation to help users gain a more
                holisitic understanding of the Australian economy. Additionally we utilise various mathematical models to
                forecast grocery prices into the future by analysing trends in time and seasonality.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end about section -->




    <!-- team section -->

    <section class="team_section layout_padding" style="margin-top: 50px;">
      <div class="container">
        <div class="heading_container heading_center">
          <h2>
            Our <span>Developers</span>
          </h2>
        </div>
        <div class="clearfix">
          <div>
            <div class="item column">
              <div class="box">
                <div class="img-box">
                  <img src="/static/images/abhi1.png" width="550" height="350" alt="" />
                </div>
                <div class="detail-box">
                  <h5>
                    Abhinav Gupta
                  </h5>
                  <h6>
                    agup0021@student.monash.edu.au
                  </h6>
                  <div class="social_box">
                    <a href="">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item column">
              <div class="box">
                <div class="img-box">
                  <img src="/static/images/enoch1.png" width="550" height="350" alt="" />
                </div>
                <div class="detail-box">
                  <h5>
                    Enoch Leow
                  </h5>
                  <h6>
                    eleo0010@student.monash.edu
                  </h6>
                  <div class="social_box">
                    <a href="">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item column">
              <div class="box">
                <div class="img-box">
                  <img src="/static/images/eugene1.png" width="550" height="350" alt="" />
                </div>
                <div class="detail-box">
                  <h5>
                    Eugene Fan
                  </h5>
                  <h6>
                    efan0005@student.monash.edu
                  </h6>
                  <div class="social_box">
                    <a href="">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item column">
              <div class="box">
                <div class="img-box">
                  <img src="/static/images/jun1.png" width="550" height="350" alt="" />
                </div>
                <div class="detail-box">
                  <h5>
                    Jun Chee
                  </h5>
                  <h6>
                    jche0258@student.monash.edu
                  </h6>
                  <div class="social_box">
                    <a href="">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end team section -->


    <!-- contact section -->
    <section class="rating_section layout_padding-bottom" style="margin-top: 50px;">
      <div class="container">
        <div class="heading_container">
          <h2>
            Rate Our Website
          </h2>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="rating_container">
              <p>How would you rate our website?</p>
              <div class="star-rating">
                <span class="fa fa-star" data-rating="1"></span>
                <span class="fa fa-star" data-rating="2"></span>
                <span class="fa fa-star" data-rating="3"></span>
                <span class="fa fa-star" data-rating="4"></span>
                <span class="fa fa-star" data-rating="5"></span>
                <input type="hidden" name="rating" id="rating" value="0">
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="img-box">
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- end contact section -->





    <footer class="footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span>
          <a href="https://html.design/"></a>
        </p>
      </div>
    </footer>


   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"
      integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script>
      const starRating = document.querySelector('.star-rating');
      const ratingInput = document.getElementById('rating');

      starRating.addEventListener('click', (e) => {
        const stars = Array.from(starRating.children);
        const selectedStar = e.target;

        if (stars.includes(selectedStar)) {
          const ratingValue = parseInt(selectedStar.getAttribute('data-rating'));
          ratingInput.value = ratingValue;

          // Highlight the selected star and all previous stars
          stars.forEach((star, index) => {
            if (index <= ratingValue - 1) {
              star.classList.add('selected');
            } else {
              star.classList.remove('selected');
            }
          });
        }
      });
    </script>
  </body>

</html>