<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  
  
    <meta name="description" content="">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

  <style>
    select.form-control{
      display: inline;
      width: 200px;
      margin-left: 10px;
    }

    section {
      padding: 20px;
    }
  </style>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
<head>




  <title>Products</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />

</head>
<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="header_bottom">
        <div class="container-fluid">
                <!--Navigation bar-->
                <div id="nav-placeholder">

                </div>

                <script>
                  $(function () {
                    $("#nav-placeholder").load("nav.html");
                  });
                </script>
                <!--end of Navigation bar-->
        </div>
      </div>
    </header>
    <!-- end header section -->
  </div>


    <!-- Table section -->
    <div style="margin: 20px;">
      <h1>Average Product Price Trends</h1>
      <p style="width: 1850px;padding: 20px;background: papayawhip;">
        The graph below allows the visualisation of the relative prices of individual products over time. Use the filters on the right to select which products you want to visualise and 
        adjust the date slider to select the time period for which you want to visualise the trend. Additionally multiple cities can be selected for region based price comparison. <br> <br> <i> <strong>*Value shows is of the average price of all products within that sub-category</strong></i> 
      </p>
      <div class='tableauPlaceholder' id='viz1696046204152' style='position: relative'>
        <noscript>
          <a href='#'>
            <img alt='Relative Changes in Item Price' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Bo&#47;Book2_16960461848310&#47;RelativeChangesinItemPrice&#47;1_rss.png' style='border: none' />
          </a>
        </noscript>
        <object class='tableauViz' style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='Book2_16960461848310&#47;RelativeChangesinItemPrice' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Bo&#47;Book2_16960461848310&#47;RelativeChangesinItemPrice&#47;1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-GB' />
          <param name='filter' value='publish=yes' />
        </object>
      </div>
    </div>
    <script type='text/javascript'>
      var divElement = document.getElementById('viz1696046204152');
      var vizElement = divElement.getElementsByTagName('object')[0];
      vizElement.style.width='100%';
      vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
      var scriptElement = document.createElement('script');
      scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
      vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>


</body>

</html>